{% extends "wholesale/init.html" %}
{% load  static%}
{% block hbody %}
{% include "wholesale/header2.html" %}
{% include 'wholesale/cart.html' %}
{% include "wholesale/productpopup.html" %}
    <div class="bg0 m-t-23 p-b-40">
      <div class="container">
        {% include "wholesale/filter.html" %}
        <div class="row isotope-grid">
          {% for book in books %}
             {% include "wholesale/bookthumb.html" with book=book %}
          {% endfor %}
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
          <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
            Load More
          </a>
        </div>
      </div>
    </div>
{% endblock %}
