{% extends "wholesale/init.html" %}
{% load  static%}
{% block hbody %}
{% include "wholesale/header2.html" %}
{% include 'wholesale/cart.html' %}
{% include "wholesale/productpopup.html" %}
    <div class="bg0 m-t-23 p-b-40">
      <div class="container">
        {% include "wholesale/filter.html" %}
        <div class="row isotope-grid">
          {% for book in books %}
             {% include "wholesale/bookthumb.html" with book=book %}
          {% endfor %}
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
           <nav aria-label="Page navigation example">
              <ul class="pagination">

              {% if page != 1 %}
               <li class="page-item">
                  <a  class="page-link"   href="/books/?page={{previous_page}}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              {%endif%}



                  {% for page_url in pages_url %}
                      {% if page == page_url %}
                            <li class="page-item active"><a class="page-link" href="/books/?page={{page_url}}">{{ page_url }}</a></li>
                      {% else %}
                           <li class="page-item"><a class="page-link" href="/books/?page={{page_url}}">{{ page_url }}</a></li>
                      {% endif %}
                  {% endfor %}
              {% if not last_page %}
                <li class="page-item">
                  <a class="page-link" href="/books/?page={{next_page}}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              {% endif %}
              </ul>
           </nav>
        </div>
      </div>
    </div>
{% endblock %}
