<div class="flex-w flex-sb-m p-b-52">

  <div class="flex-w flex-c-m m-tb-10">
    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
      <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
      <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
       Filter
    </div>

    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
      <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
      <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
      Search
    </div>
  </div>

  <!-- Search product -->
  <div class="dis-none panel-search w-full p-t-10 p-b-15">
    <div class="bor8 dis-flex p-l-15">
      <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit" form="searchForm" >
        <i class="zmdi zmdi-search"></i>
      </button>
      <form id="searchForm" action="" method="get">
      <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
      </form>
    </div>
  </div>

  <!-- Filter -->
  <div class="dis-none panel-filter w-full p-t-10">
    <div class="wrap-filter flex-w bg6 w-full p-lr-15 p-t-27 p-lr-5-sm">
      
        <div class="col-sm-3">


                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active mtext-102 cl2 p-b-15" id="v-pills-brand-tab" data-toggle="pill" href="#v-pills-brand" role="tab" aria-controls="v-pills-brand" aria-selected="true">
                      Brands
                      <i class="fa fa-caret-right p-t-4" style="float:right;"></i>
                    </a>

                    <a class="nav-link mtext-102 cl2 p-b-15" id="v-pills-clothType-tab" data-toggle="pill" href="#v-pills-clothType" role="tab" aria-controls="v-pills-clothType" aria-selected="true">
                      Cloth Type
                      <i class="fa fa-caret-right p-t-4" style="float:right;"></i>
                    </a>

                    <a class="nav-link mtext-102 cl2 p-b-15" id="v-pills-pieces-tab" data-toggle="pill" href="#v-pills-pieces" role="tab" aria-controls="v-pills-pieces" aria-selected="true">
                      Number of Pieces
                      <i class="fa fa-caret-right p-t-4" style="float:right;"></i>
                    </a>
                  </div>

          <div class="filter-col3 p-b-27 p-t-27">
            <div class="mtext-102 cl2 p-b-15">
              <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" id="apply_filter" form="filterForm">
                Apply Filter
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-9 filterCustomHeight">
             <form id="filterForm" action="" method="get">
                 <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-brand" role="tabpanel" aria-labelledby="v-pills-brand-tab">
              {% for brand in brands %}
                <div class="form-check abc-checkbox form-check-inline col-sm-2 p-b-5">
                  <input class="form-check-input"  {% if brand.name in filters.brands  %} checked {% endif %}  name="brands" type="checkbox" id="inlineCheckbox_{{brand.pk}}" value="{{brand.name}}" autocomplete="off">
                  <label class="form-check-label stext-106 trans-04" for="inlineCheckbox_{{brand.pk}}">{{brand.name}}</label>
                </div>
              {% endfor %}
            </div>  

            <div class="tab-pane fade" id="v-pills-clothType" role="tabpanel" aria-labelledby="v-pills-clothType-tab">
              {% for clothtype in clothtypes %}
                <div class="form-check abc-checkbox form-check-inline col-sm-2 p-b-5">
                  <input class="form-check-input"  {% if clothtype.name in filters.clothtypes  %} checked {% endif %}  name="clothtypes"  type="checkbox" id="inlineCheckboxCT_{{clothtype.pk}}" value="{{clothtype.name}}" autocomplete="off">
                  <label class="form-check-label stext-106 trans-04" for="inlineCheckboxCT_{{clothtype.pk}}">{{clothtype.name}}</label>
                </div>
              {% endfor %}
            </div>

            <div class="tab-pane fade" id="v-pills-pieces" role="tabpanel" aria-labelledby="v-pills-pieces-tab">
              {% for piecesCount in  piecesCountList %}
                <div class="form-check abc-radio form-check-inline col-sm-2 p-b-5">
                      <input class="form-check-input"   {% if piecesCount.0 in filters.nopieces  %} checked {% endif %} name="nopieces" type="radio" id="inlineRadio_{{piecesCount.0}}" value="{{piecesCount.0}}" autocomplete="off">
                  <label class="form-check-label stext-106 trans-04" for="inlineRadio_{{piecesCount.0}}">{{piecesCount.1}}</label>
                </div>
              {% endfor %}
            </div>
          </div>
             </form>
        </div>
    </div>
  </div>
</div>


<!--
        <ul>
          {% for piecesCount in  piecesCountList %}
            <li class="p-b-6">
                 <div class="row">
                     <div class="col-sm-2">
                         <input type="radio" name="filter_piecescount">
                     </div>
                     <div class="col-sm-*">
                         <a href="/books/?piecescount={{piecesCount}}" class="filter-link stext-106 trans-04">
                           {{piecesCount}}
                         </a>
                     </div>
                 </div>

             </li>
          {% endfor %}
        </ul>
      </div>

-->