<!DOCTYPE html>
<html lang="en">
<head>
	<title>LSRS</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static  'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static  'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">

{% block hbody %}

{% endblock %}

<!--=============================================================================================-->
	<script src="{% static  'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static  'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static  'vendor/select2/select2.min.js' %}"></script>

  <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>

<!-- TODO -->
<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
</script>


<!--===============================================================================================-->
	<script src="{% static  'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static  'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static  'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		function haiku(){

			$('.js-addwish-b2').on('click', function(e){
				e.preventDefault();
			});


			$('.js-addwish-b2').each(function(){
				var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
				$(this).on('click', function(){

					if($(this).data("incart")){

					 id = $(this).data("id");
					 removeFromCart(id);

					 swal(nameProduct, "is removed from cart !", "success");
					 $(this).removeClass('js-addedwish-b2');
					 $(this).addClass('js-addedwish-b1');
					 $(this).data("incart",false);


					}else{

						id = $(this).data("id");
 					  name =  $(this).data("name");
 					  pieces = $(this).data("pieces");
						image = $(this).data("image");
						addToCart(id,name,pieces,image);

						swal(nameProduct, "is added to cart !", "success");
						$(this).addClass('js-addedwish-b2');
						$(this).data("incart",true);

					}



					//$(this).off('click');

				});
			});

			// $('.js-addwish-detail').each(function(){
			// 	var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
			//
			// 	$(this).on('click', function(){
			// 		swal(nameProduct, "is added to cart !", "success");
			//
			// 		$(this).addClass('js-addedwish-detail');
			// 		$(this).off('click');
			// 	});
			// });

			/*---------------------------------------------*/

			$('.js-addcart-detail').each(function(){
				var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
				$(this).on('click', function(){
					swal(nameProduct, "is added to cart !", "success");
				});
			});


		}
		haiku();
	</script>
<!--===============================================================================================-->
	<script src="{% static  'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});

		function slickInit(){

			$('.wrap-slick3').each(function(){
					$(this).find('.slick3').slick({
							slidesToShow: 1,
							slidesToScroll: 1,
							fade: true,
							infinite: true,
							autoplay: false,
							autoplaySpeed: 6000,

							arrows: true,
							appendArrows: $(this).find('.wrap-slick3-arrows'),
							prevArrow:'<button class="arrow-slick3 prev-slick3"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
							nextArrow:'<button class="arrow-slick3 next-slick3"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',

							dots: true,
							appendDots: $(this).find('.wrap-slick3-dots'),
							dotsClass:'slick3-dots',
							customPaging: function(slick, index) {
									var portrait = $(slick.$slides[index]).data('thumb');
									return '<img src=" ' + portrait + ' "/><div class="slick3-dot-overlay"></div>';
							},
					});
			});


			$('.gallery-lb').each(function() { // the containers for all your galleries
				$(this).magnificPopup({
							delegate: 'a', // the selector for gallery item
							type: 'image',
							gallery: {
								enabled:true
							},
							mainClass: 'mfp-fade'
					});
			});

     haiku();
		}


    $(".showbookpopup").click(function(){
			bookid = $(this).data("bookid");
			url = "/api/books/"+bookid+"/views";
			$.get(url,function(data){
				 $("#productpopup").html(data);
				 slickInit();
			})
		})

</script>
<!--===============================================================================================-->
	<script src="{% static  'js/main.js' %}"></script>


<script >
			var db = new PouchDB('cart');
			var remoteCouch = false;
			function addToCart(id,name,pieces,image) {
						var book = {
							_id: String(id),
							name: name,
							image:image,
							pieces: pieces,
							instock: true,
							bookid :id,
							type:"book"
						};
						db.put(book, function callback(err, result) {
							if (!err) {
								console.log('Successfully add to cart !');
								markCartBooks();
							}else {
								alert("add cart->"+err);
							}
						});
			}

			function removeFromCart(id){

				db.get(String(id), function(err, doc) {
					 if (err) {
							return console.log(err);
					 } else {

						 db.remove(doc._id,doc._rev,function callback(err, result) {
							 if (!err) {
								 console.log('Successfully remove from cart !');
								 markCartBooks();
							 }else {
								 alert("remove cart-->"+err);
							 }
						 });
					 }
				});

			}


       function gettinyBook(id,name,pieces,image){

				 var html = "<li class='header-cart-item flex-w flex-t m-b-15' id='cart_tiny_"+id+"' >"
				 html=html+"<div class='header-cart-item-img cart_item_img' data-bookid='"+id+"'><img src='/"+image+"' alt='IMG'></div> <div class='header-cart-item-txt p-t-8'>"
				 html=html+"<a href='#' class='header-cart-item-name hov-cl1 trans-04'>"+name+"</a> <span class='header-cart-item-info'>No. of Pieces:"+pieces+"</span></div></li>"
         return html;
			 }
			$('.js-show-cart').on('click',function(){

					db.allDocs({
					       include_docs: true,
				        attachments: true
					}).then(function (result) {
              $("#cartdata").html("");
							result.rows.forEach(function(data){
								$("#cartdata").append(gettinyBook(data.doc._id,data.doc.name,data.doc.pieces,data.doc.image));
							});

					}).catch(function (err) {
				         	console.log(err);
					});
	    });

			function markCartBooks(){
        $(".cart_item").removeClass("js-addedwish-b2");
				$(".cart_item").data("incart",false);

				db.allDocs({
							 include_docs: true,
							attachments: true
				}).then(function (result) {

						result.rows.forEach(function(data){
							$(".cart_"+String(data.doc._id)).addClass("js-addedwish-b2");
							$(".cart_"+String(data.doc._id)).data("incart",true);
						});

				}).catch(function (err) {
								console.log(err);
				});
			}

			$("html").on( "click",".cart_item_img",function() {
            removeFromCart($(this).data("bookid"));
						$('#cart_tiny_'+String($(this).data("bookid"))).remove();
      });

markCartBooks();
</script>

</body>
</html>
